@import url(https://fonts.google.com/specimen/Overpass);

:root {
  --orange: hsl(25, 97%, 53%);
  --white: hsl(0, 0%, 100%);
  --light-grey: hsl(217, 12%, 63%);
  --medium-grey: hsl(216, 12%, 54%);
  --dark-blue: hsl(213, 19%, 18%);
  --very-dark-blue: hsl(216, 12%, 8%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Overpass', sans-serif;
  font-weight: 400, 700;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--very-dark-blue);
  color: var(--white);
}

.card {
  max-width: 1440px;
  border: 1px solid black;
  width: 400px;
  height: 380px;
  border-radius: 30px;
  padding: 1.5rem;
  background-color: var(--dark-blue);
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  border-radius: 50%;
  border-color: transparent;
  background-color: hsl(212, 16%, 21%);
  width: 30px;
  overflow: hidden;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  margin: 20px 0;
  align-self: flex-start;
  padding: 0;
}

.text {
  margin: 0;
  line-height: 150%;
  color: var(--light-grey);
}

.rating {
  font-family: inherit;
  display: flex;
  gap: 1.5rem;
  padding: 20px 0 10px 0;
}

.rating button {
  color: var(--white);
  border: none;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px 20px;
  border-radius: 100%;
  background-color: hsl(212, 16%, 21%);
  cursor: pointer;
}

.rating button:hover {
  background-color: var(--orange);
}
button.active {
  background-color: var(--light-grey);
}

.btn {
  font-weight: bold;
  font-size: 15px;
  letter-spacing: 0.1rem;
  color: var(--white);
  background-color: var(--orange);
  width: 100%;
  height: 50px;
  border: none;
  margin: 10px 0;
  border-radius: 50px;
  padding: 0.5rem;
}

.btn:hover {
  color: var(--orange);
  background-color: var(--white);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.ty-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ty-card .title {
  align-self: center;
  padding: 0;
}

.ty-card .rating {
  margin: 0;
  margin-top: 1rem;
  border-radius: 20px;
  padding: 5px 20px;
  background-color: hsl(212, 16%, 21%);

  color: var(--orange);
}

.ty-card .text {
  padding: 0;
  text-align: center;
  line-height: 1.7;
}

/* .hidden {
  opacity: 0;
} */

.hidden-container {
  opacity: 0;
}
